<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Categorias</title>
</head>

<body>
    <nav>
        <a href="categorias">Categorias</a> |
        <a href="retalhistas">Retalhistas</a> |
        <a href="ivm">IVMs</a>
    </nav>
    <hr>
    <h1>{{category}}</h1>
    <hr>
    <h2>Hierarquia das subcategorias de {{category}}</h2>
    <ul>
        {%- for cat in [category] recursive %}
        <li>
            {{ cat }}
            {% if cat in tree.keys() %}
            <ul class>{{ loop(tree[cat]) }}</ul>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
</body>

</html>